@model IEnumerable<BA_Portal.Models.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clients</h1> <br />

@using (Html.BeginForm())
{
    <p>
        <strong>Search by Name:</strong> @Html.TextBox("SearchString") 
        <input type="submit" value="Search" /> <br /> <br />
    </p>
} <br />


 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            First Seen
        </th>

        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{ 
                DateTime now = DateTime.Today;
                int age = now.Year - item.DOB.Year;
                if (now < item.DOB.AddYears(age))
                {
                    age--;
                }
                @age
            }
        </td>
        <td>
            @if (item.Male == true)
            { @Html.DisplayNameFor(model => model.Male)}
            else if (item.Female == true)
            {@Html.DisplayNameFor(model => model.Female) }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @{
                string date = item.DateCreated.ToShortDateString();
                @date
            }


        </td>
        <td>
          
            <strong> @Html.ActionLink("All Form(s)", "PassSubjecttoAllForms", new { id = item.ID }) </strong>
                

            @*
    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            *@
        </td>
        <td>

            @Html.ActionLink("View Client", "Details", new { id = item.ID }) |
            @Html.ActionLink("Update Client", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete Client Records", "Delete", new { id = item.ID })

        </td>
    </tr>
}

</table>

<br />
<p>
    @Html.ActionLink("New Patient", "Create")
</p>
