@model IEnumerable<BA_Portal.Models.Subject>

<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Clients</h1> 
@Html.ActionLink("Add Quick Note(s)", "QuickNotesIndex", "Subjects", new { }, new { @class = "btn-info btn-sm", @style = "float: right;" })<br />
<span>For HIPAA purposes the patient list has been hidden. Please press search to load the patient list.</span>
<br /><br />

@using (Html.BeginForm())
{

    <p>
        <strong data-toggle="tooltip" title="Search by first, last name, or phone number. 
Leave blank to load all patients.">Search @Html.TextBox("SearchString", null, new { @class = "form-control", @style = "width: 50% !important; max-width: 40% !important;" }) </strong>
        <input type="submit" value="Search" class="btn btn-primary btn-sm"/> <br /> <br />
    </p>
} <br />



 
<p>
    <strong>@Html.ActionLink("New Patient", "Create")</strong>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Status</th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th>
            Cell Phone
 
        </th>
@*
    <th>
        First Seen
    </th>
*@
    <th>Last Seen</th>

   
        

        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name @item.LastName 
        </td>
        <td>
            @{
                DateTime nowstatus = DateTime.Today;
                int agestatus = (nowstatus - item.LastSeen).Days;
                if (agestatus > 182)
                {
                    <span><font color="red"><em>Inactive</em></font></span>
                }
                else if (agestatus <= 182)
                {
                    <font color="green"><em><strong>Active</strong></em></font>
                }
                else
                {
                    <font color="blue"><em>NA</em></font>
                }

            }
        </td>
        <td>
            @{ 
                DateTime now = DateTime.Today;
                int age = now.Year - item.DOB.Year;
                if (now < item.DOB.AddYears(age))
                {
                    age--;
                }
                @age
            }
        </td>
        <td>
            @if (item.Male == true)
            { @Html.DisplayNameFor(model => model.Male)}
            else if (item.Female == true)
            {@Html.DisplayNameFor(model => model.Female) }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCell)
        </td>

 @*
    <td>
        @{
            string date = item.DateCreated.ToShortDateString();
            @date
        }
    </td>
*@
    <td>
        @{
            string lastseen = item.LastSeen.ToShortDateString();
            @lastseen
        }
    </td>



        <td>
            <strong> @Html.ActionLink("All Form(s)", "PassSubjecttoAllForms", "Subjects", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" }) </strong>  

        </td>
        <td>

            
            @Html.ActionLink("Update Personal Info", "Edit", new { id = item.ID }) |
            @Html.ActionLink("View Personal Info", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete Record", "Delete", "Subjects", new { id = item.ID }, new { @class="text-danger"})


        </td>
    </tr>
}

</table>

<br />




<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>