@model BA_Portal.Models.QuickSoapNotes

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>QuickSoapNotes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Name } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UniqueID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UniqueID, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.UniqueId } })
                @Html.ValidationMessageFor(model => model.UniqueID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReturnDateRecommended, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnDateRecommended, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReturnDateRecommended, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HerbalSupplement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HerbalSupplement, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HerbalSupplement, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherDetails, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherDetails, "", new { @class = "text-danger" })
            </div>
        </div>


        <br /><br /><br />

        <div class="form-group">
            @Html.LabelFor(model => model.CPTcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPTcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPTcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NeedleSize, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NeedleSize, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NeedleSize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ElectroStimulation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ElectroStimulation)
                    @Html.ValidationMessageFor(model => model.ElectroStimulation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            @Html.LabelFor(model => model.TreatmentTime, "Treatment Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <select id="TreatmentTime" name="TreatmentTime">
                    <option value="0 Minutes">0 Minutes</option>
                    <option value="5-15 Minutes">5-15 Minutes</option>
                    <option value="16-30 Minutes">16-30 Minutes</option>
                    <option value="31-45 Minutes">31-45 Minutes</option>
                    <option value="46-60 Minutes">46-60 Minutes</option>
                </select>
            </div>
        </div>

        <br />
        <br />

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            @Html.LabelFor(model => model.PainScale, "Pain Scale", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <select id="PainScale" name="PainScale">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
<br />

        <div class="form-group">
            @Html.LabelFor(model => model.NeedlesPerformed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NeedlesPerformed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NeedlesPerformed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SField, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SField, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SField, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OField, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OField, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OField, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AField, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AField, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AField, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PField, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PField, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PField, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            @Html.LabelFor(model => model.ICD10CM_Entry1, "ICD10CM #1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <select id="ICD10CM_Entry1" name="ICD10CM_Entry1">

                    <option value=""> </option>
                    <option value="Shoulder">Shoulder</option>
                    <option value="Upper Arm">Upper Arm</option>
                    <option value="Forearm">Forearm</option>
                    <option value="Hand">Hand</option>
                    <option value="Pelvic and Thigh">Pelvic and Thigh</option>
                    <option value="Ankle and Foot">Ankle and Foot</option>
                </select>
            </div>
        </div>
        <br />

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            @Html.LabelFor(model => model.ICD10CM_Entry2, "ICD10CM #2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <select id="ICD10CM_Entry2" name="ICD10CM_Entry2">

                    <option value=""> </option>
                    <option value="Neck Pain">Neck Pain</option>
                    <option value="Sciatica">Sciatica</option>
                    <option value="LBP with Sciatica">LBP with Sciatica</option>
                    <option value="Thoracic Pain">Thoracic Pain</option>
                    <option value="LBP">LBP and Thigh</option>
                    <option value="Other">Other and Foot</option>
                </select>
            </div>
        </div>
        <br />

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            @Html.LabelFor(model => model.ICD10CM_Entry3, "ICD10CM #3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <select id="ICD10CM_Entry3" name="ICD10CM_Entry3">

                    <option value=""> </option>
                    <option value="Headache">Headache</option>
                    <option value="Migraine with aura">Migraine with aura</option>
                    <option value="Migrain without aura">Migrain without aura</option>
                </select>
            </div>
        </div>
        <br />

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            @Html.LabelFor(model => model.ICD10CM_Entry4, "ICD10CM #4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <select id="ICD10CM_Entry4" name="ICD10CM_Entry4">

                    <option value=""> </option>
                    <option value="TMJ">TMJ</option>
                    <option value="Ear Pain">Ear Pain</option>
                    <option value="Eye Pain">Eye Pain</option>
                    <option value="Jaw Pain">Jaw Pain</option>
                    <option value="Throat Pain">Throat Pain</option>
                    <option value="Generalized Pain">Generalized Pain</option>
                </select>
            </div>
        </div>
        <br />

        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            @Html.LabelFor(model => model.ICD10CM_Entry5, "ICD10CM #5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br />
                <select id="ICD10CM_Entry5" name="ICD10CM_Entry5">
                    <option value=""> </option>
                    <option value="Myalgia">Myalgia</option>
                    <option value="Fibromyalgia">Fibromyalgia</option>
                    <option value="Muscle Spasm">Muscle Spasm</option>
                </select>
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
