@model BA_Portal.Models.QuickSoapNotes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuickSoapNotes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            CPT Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPTcode)
        </dd>

        <br />
        <dt>
            Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentTime)
        </dd>
        <dt>
            Date Seen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSeen)
        </dd>

        <dt>
            Return Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDateRecommended)
        </dd>
        <br />

        <dd>
            @Html.DisplayFor(model => model.OtherDetails)
        </dd>

        <dt>
            Pain Scale
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PainScale)
        </dd>

        <dt>
            Needles Performed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlesPerformed)
        </dd>
        <dt>
            Needle Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedleSize)
        </dd>

        <dt>
            Electro Stimulation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectroStimulation)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.SField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SField)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OField)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AField)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PField)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.ICD10CM_Entry1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICD10CM_Entry1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICD10CM_Entry2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICD10CM_Entry2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICD10CM_Entry3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICD10CM_Entry3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICD10CM_Entry4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICD10CM_Entry4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICD10CM_Entry5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICD10CM_Entry5)
        </dd>

        <br />
        <dt>
            Supplement
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerbalSupplement)
        </dd>

        <dt>
            Details
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
