@model IEnumerable<BA_Portal.Models.QuickSoapNotes>

@{
    ViewBag.Title = "Index";
}

<h2>Quick Soap Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Return Date
        </th>
        <th>
            Supplement
        </th>
        <th>
            Other Details
        </th>
        <th>
            Seen
        </th>
        <th>
            CPT Code
        </th>
        <th>
            Duration
        </th>
        <th>
            Pain Scale
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDateRecommended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HerbalSupplement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSeen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPTcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PainScale)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
