@model BA_Portal.Models.Appointment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcedureGiven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcedureGiven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentCharged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentCharged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidWithCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidWithCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchandiseBought)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchandiseBought)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorsNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorsNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupingID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
