@model BA_Portal.Models.Appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcedureGiven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcedureGiven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentCharged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentCharged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidWithCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidWithCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchandiseBought)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchandiseBought)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorsNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorsNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupingID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
