@model IEnumerable<BA_Portal.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcedureGiven)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentCharged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidWithCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MerchandiseBought)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorsNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupingID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcedureGiven)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentCharged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidWithCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MerchandiseBought)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorsNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupingID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
