


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutwithoutNavigation.cshtml";
}



<h2>Index stuff</h2> <br />
<div class="alert alert-success">
    <a href="https://localhost:44399/NewFunctionTests/PrintIndex">Get PDF version</a>
</div> <br />

<pre>
stufff stuff stuff stuff stufff stuff stuff stuff stufff stuff stuff stuff
        stufff stuff stuff stuff 
                    stufff stuff stuff stuffstufff stuff stuff stuff
                                stufff stuff stuff stuff
                                            stufff stuff stuff stuffstufff stuff stuff stuff
                                                        stufff stuff stuff stuff


</pre>

<pre id="border01">
stufff stuff stuff stuff stufff stuff stuff stuff stufff stuff stuff stuff
stufff stuff stuff stuff 
stufff stuff stuff stuffstufff stuff stuff stuff
stufff stuff stuff stuff
stufff stuff stuff stuffstufff stuff stuff 
stufff stuff stuff stuff
stufff stuff stuff stuffstufff stuff  
stufff stuff stuff stuff
stufff stuff stuff stuffstufff  
stufff stuff stuff stuff
</pre>

            @ViewBag.date1 = date1; <br />
            @ViewBag.date2 = date2;<br />
            @ViewBag.date3 = date3;<br />
            @ViewBag.date4 = date4;<br />

<br />
Initials: @ViewBag.Initials <br />
firstchars: @ViewBag.firstchars <br />
my attempt : @ViewBag.firstchars3




<body background="~/Content/backgroundimage4.jpg">

</body>


