@model BA_Portal.Models.SOAPForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SOAPForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PractionerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PractionerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PractionerLicenseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PractionerLicenseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyTemperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyTemperature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectiveObjectiveNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectiveObjectiveNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFilledIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFilledIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTreatmentStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTreatmentStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTreatmentEnded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTreatmentEnded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsGeneral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsGeneral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentingProblems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentingProblems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsChillsFeverNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsChillsFeverNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsChillsFeverNone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsChillsFeverNone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsChillsFeverSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsChillsFeverSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsChillsFeverObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsChillsFeverObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsPerspiratonNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsPerspiratonNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsPerspiratonNone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsPerspiratonNone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsPerspiratonSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsPerspiratonSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsPerspiratonObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsPerspiratonObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsUrinationNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsUrinationNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsUrinationNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsUrinationNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsUrinationSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsUrinationSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsUrinationObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsUrinationObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsHeadacheBodyacheNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsHeadacheBodyacheNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsHeadacheBodyacheNone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsHeadacheBodyacheNone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsRespirationNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsRespirationNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsRespirationNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsRespirationNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsRespirationSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsRespirationSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsRespirationObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsRespirationObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsSleepEnergyNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsSleepEnergyNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsSleepEnergyNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsSleepEnergyNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsSleepEnergySubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsSleepEnergySubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsSleepEnergyObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsSleepEnergyObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsReproductiveNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsReproductiveNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsReproductiveNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsReproductiveNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsMentalEmotionalNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsMentalEmotionalNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsMentalEmotionalNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsMentalEmotionalNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsMentalEmotionalSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsMentalEmotionalSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsMentalEmotionalObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsMentalEmotionalObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsEarsEyesTeethGumsNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsEarsEyesTeethGumsNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsEarsEyesTeethGumsNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsEarsEyesTeethGumsNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsEarsEyesTeethGumsSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsEarsEyesTeethGumsSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsEarsEyesTeethGumsObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsEarsEyesTeethGumsObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsAppetiteDigestionDefecationNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsAppetiteDigestionDefecationNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsAppetiteDigestionDefecationNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsAppetiteDigestionDefecationNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsAppetiteDigestionDefecationSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsAppetiteDigestionDefecationSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsAppetiteDigestionDefecationObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsAppetiteDigestionDefecationObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsPalpitationDizzinessNumbnessNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsPalpitationDizzinessNumbnessNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsPalpitationDizzinessNumbnessNone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsPalpitationDizzinessNumbnessNone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsPalpitationDizzinessNumbnessSubjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsPalpitationDizzinessNumbnessSubjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SymptomsPalpitationDizzinessNumbnessObjective)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SymptomsPalpitationDizzinessNumbnessObjective)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongueBodyColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongueBodyColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongueCoating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongueCoating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoatColoration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoatColoration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoatRooting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoatRooting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PulseRight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PulseRight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PulseLeft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PulseLeft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentandDiagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentandDiagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanofTreatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanofTreatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CleanNeedSet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CleanNeedSet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet1ElectricalStimulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet1ElectricalStimulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet1TuiNa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet1TuiNa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet1CuppingTherapy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet1CuppingTherapy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet2ElectricalStimulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet2ElectricalStimulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet2TuiNa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet2TuiNa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet2CuppingTherapy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet2CuppingTherapy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet3ElectricalStimulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet3ElectricalStimulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet3TuiNa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet3TuiNa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet3CuppingTherapy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet3CuppingTherapy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet4ElectricalStimulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet4ElectricalStimulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet4TuiNa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet4TuiNa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet4CuppingTherapy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet4CuppingTherapy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet5ElectricalStimulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet5ElectricalStimulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet5TuiNa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet5TuiNa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet5CuppingTherapy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet5CuppingTherapy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet6ElectricalStimulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet6ElectricalStimulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet6TuiNa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet6TuiNa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet6CuppingTherapy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet6CuppingTherapy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HerbalFormulaId1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerbalFormulaId1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HerbalFormulaId1Directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerbalFormulaId1Directions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HerbalFormulaId2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerbalFormulaId2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HerbalFormulaId2Directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerbalFormulaId2Directions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HerbalFormulaId3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerbalFormulaId3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HerbalFormulaId3Directions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerbalFormulaId3Directions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTreatmentAssessment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTreatmentAssessment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recomendations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recomendations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet1asString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet1asString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet2asString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet2asString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet3asString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet3asString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet4asString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet4asString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet5asString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet5asString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedlingSet6asString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedlingSet6asString)
        </dd>

    </dl>
</div>

<br />


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
