


@model IEnumerable<BA_Portal.Models.SOAPForm>

@{
    ViewBag.Title = "PatientSOAPIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SOAP Data Archive</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Practioner Name
        </th>
        <th>
            Patient Name
        </th>
        <th>
            Date Filled In
        </th>
        <th>
            Plan of Treatment
        </th>

        <th>
            <span style="color: lightgreen">GI</span>
        </th>
        <th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (ViewBag.ID == item.GroupingID)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PractionerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFilledIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanofTreatment)
                </td>

                <td>
                    <span style="color: lightgreen">@Html.DisplayFor(modelItem => item.GroupingID)</span>
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                    @Html.ActionLink("Generate PDF", "IncompleteSoapFormRedirecttocreatePDF", "SOAPForms", new { id = item.ID}, null)
                </td>
            </tr>


        }

    }

</table>

<br /><br />
@Html.ActionLink("Return to client", "PassSubjecttoAllForms", "Subjects", new { id = ViewBag.ID }, null)