

@{
    ViewBag.Title = "Home Page";
}


<h1>Welcome to</h1>
<div align="center">

    <img src="~/Content/logotransparent.gif" />

</div>

@if (!ViewContext.HttpContext.User.IsInRole("Guest"))
{
    <br /><br />
    <h3>@Html.ActionLink("Add Quick Note(s)", "QuickNotesIndex", "Subjects", new { }, new { @class = "btn-info btn-lg" })</h3><br /><br />

    using (Html.BeginForm())
    {
        <h4>
            Quick Notes
            @Html.TextBox("CloseOpenQuickNotes", null, new { style = "display:none;" })
            <input type="submit" value="+" class="btn btn-primary btn-sm" />
            <input type="submit" value="-" class="btn btn-primary btn-sm" />
        </h4>
    } <br />
}




@if (ViewBag.Thanks == 1)
{
    <div>
        <h2>Thanks for signing up!</h2>
    </div>
}
@if (ViewBag.Thanks == 2)
{
    <div>
        <h2>Thanks for checking in!</h2>
    </div>
}


<div align="center">

@if (ViewContext.HttpContext.User.IsInRole("Guest") && ViewBag.Thanks != 1 && ViewBag.Thanks != 2)
{

    <h2>
        <strong>@Html.ActionLink("Existing Patient", "CheckIn", "Subjects", new { }, new { @class = "btn-info btn-lg" })</strong>
    </h2>
    <hr />
    <h2>
        <strong>@Html.ActionLink("New Patient", "Create", "Subjects", new { }, new { @class = "btn-block btn-success btn-lg" })</strong>
    </h2>

}

@if (ViewContext.HttpContext.User.IsInRole("Guest") && ViewBag.Thanks == 1)
{
    <h2>
        <strong>@Html.ActionLink("Finish", "Index", "Home", new { }, new { @class = "btn-block btn-success btn-lg" })</strong>
    </h2>
}
@if (ViewContext.HttpContext.User.IsInRole("Guest") && ViewBag.Thanks == 2)
{
    <h2>
        <strong>@Html.ActionLink("Finish", "Index", "Home", new { }, new { @class = "btn-block btn-success btn-lg" })</strong>
    </h2>
}


</div>







