

@model IEnumerable<BA_Portal.Models.PDF>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Name</h1> 

<table>
    <tr>
        <td>
            <strong>Born:</strong> @ViewBag.DOB    <br />
            <strong>Home Phone:</strong> @ViewBag.PhoneHome     <br />
            <strong>Cell Phone:</strong> @ViewBag.PhoneCell    <br />
            <strong>Email:</strong> @ViewBag.Email <br />
        </td>

        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        </td>
        
        <td>
            
           
            <strong>City:</strong> @ViewBag.City <br />
            <strong>Has Allergy:</strong> @ViewBag.Allergy <br /> 
            <br />
            <br />

            
        </td>

        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        </td>

        <td>
            <strong>Referred by:</strong> @ViewBag.ReferredBy <br />
            <br />
            <br />
            <br />

        </td>
    </tr>
</table>


<br />
<h1>All Forms</h1> 
<br />

<h3>Personal Information:</h3><br />
@Html.ActionLink("Add new Personal Information Form", "CaptureIDandRedirectforPI", "Signatures", new { id = ViewBag.Id }, null) 
<br />(Forms will use the client's current personal information, but requires that the practioner and the client re-sign the form).


@{

    <table id="border02" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SearchTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.SearchTag == "Personal Information")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SearchTag)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        <strong>@Html.ActionLink("View PDF", "ReadPDFfromDatabase", new { id = item.ID })</strong> |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        }
    </table>
}
<br />
<h3>Consent:</h3><br />
@Html.ActionLink("Add new Consent Form", "CaptureIDandRedirectforInsurance", "Signatures" , new { id = ViewBag.Id }, null)
@{

    <table id="border02" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SearchTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.SearchTag == "Insurance")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SearchTag)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        <strong>@Html.ActionLink("View PDF", "ReadPDFfromDatabase", new { id = item.ID })</strong> |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        }
    </table>
}
<br />
<h3>Soap:</h3><br />
@Html.ActionLink("Add new Soap", "CaptureIDandRedirectforMultipleForms", "Signatures", new { id = ViewBag.Id, RedirectIdentifier = "SOAP" }, null)
<br />
@{

    <table id="border02" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SearchTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.SearchTag == "SOAP")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SearchTag)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        <strong>@Html.ActionLink("View PDF", "ReadPDFfromDatabase", new { id = item.ID })</strong> |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        }
    </table>
}

<br />
<h3>Disclaimers:</h3><br />
@Html.ActionLink("Add new Disclaimer1", "CaptureIDandRedirectforMultipleForms", "Signatures", new { id = ViewBag.Id, RedirectIdentifier = "Disclaimer1" }, null)
<br />
@Html.ActionLink("Add new Disclaimer2", "CaptureIDandRedirectforMultipleForms", "Signatures", new { id = ViewBag.Id, RedirectIdentifier = "Disclaimer2" }, null)
<br />
<table id="border02" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SearchTag == "Disclaimer1" || item.SearchTag == "Disclaimer2")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SearchTag)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    <strong>@Html.ActionLink("View PDF", "ReadPDFfromDatabase", new { id = item.ID })</strong> |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>



<br />
<h3>Financial Policy:</h3><br />
@Html.ActionLink("Add new FinancialPolicy", "CaptureIDandRedirectforMultipleForms", "Signatures", new { id = ViewBag.Id, RedirectIdentifier = "FinancialPolicy" }, null)
<br />
<table id="border02" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SearchTag == "Financial_Policy")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SearchTag)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    <strong>@Html.ActionLink("View PDF", "ReadPDFfromDatabase", new { id = item.ID })</strong> |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>



<br />
<h3>Paying at time of service:</h3><br />
@Html.ActionLink("Add new PayingatTimeofService", "CaptureIDandRedirectforMultipleForms", "Signatures", new { id = ViewBag.Id, RedirectIdentifier = "PayingatTimeofService" }, null)
<br />
<table id="border02" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SearchTag == "PayingatTimeofService")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SearchTag)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    <strong>@Html.ActionLink("View PDF", "ReadPDFfromDatabase", new { id = item.ID })</strong> |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>
<br />

<h3>Scanned Files:</h3><br />
<br />
<table id="border02" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SearchTag == "Scan")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SearchTag)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    <strong>@Html.ActionLink("View PDF", "ReadPDFfromDatabase", new { id = item.ID })</strong> |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>