@model BA_Portal.Models.PDF

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PDF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SearchTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDFinbytes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDFinbytes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
