@model IEnumerable<BA_Portal.Models.PDF>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PDFs</h1> <br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SearchTag)
        </td>
        <td>
            @Html.DisplayFor(model => item.GroupingID)
        </td>
        <td>
            @Html.DisplayFor(model => item.Description)
        </td>
        <td>
            <strong>@Html.ActionLink("View PDF", "ReadPDFfromDatabase", new { id = item.ID })</strong> |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
