
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title BA Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
@if (ViewContext.HttpContext.User.IsInRole("CanManageUsers") || ViewContext.HttpContext.User.IsInRole("CanEdit") || ViewContext.HttpContext.User.IsInRole("Guest"))
{

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
@if (ViewContext.HttpContext.User.IsInRole("CanManageUsers") || ViewContext.HttpContext.User.IsInRole("CanEdit"))
{
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BA Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
}
            <div class="navbar-collapse collapse">
@if (ViewContext.HttpContext.User.IsInRole("CanManageUsers") || ViewContext.HttpContext.User.IsInRole("CanEdit"))
{
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Clients", "Index", "Subjects")</li>
                    
                </ul>
}

@if (ViewContext.HttpContext.User.IsInRole("CanManageUsers") || ViewContext.HttpContext.User.IsInRole("CanEdit"))
{
    <div class="navbar-collapse collapse navbar-left">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management<b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("Manage Users", "Index", "Account")</li>
                    <li>@Html.ActionLink("Scheduler", "ActiveClientsScheduler", "Subjects")</li>


                </ul>
            </li>
        </ul>
    </div>
}

@if (ViewContext.HttpContext.User.IsInRole("CanManageUsers"))
{
    <div class="navbar-collapse collapse navbar-left">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Debugging <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (ViewContext.HttpContext.User.IsInRole("CanManageUsers"))
    {
                        <li>@Html.ActionLink("Manage PDFs", "Index", "PDFs")</li>
                        <li>@Html.ActionLink("Manage Signatures", "Index", "Signatures")</li>
                        <li>@Html.ActionLink("Manage SoapForms", "Index", "SOAPForms")</li>
                        <li>@Html.ActionLink("Manage Insurance Verification", "Index", "InsuranceVerifications")</li>
                        <li>@Html.ActionLink("Manage Insurance Info", "Index", "InsuranceInfoes")</li>
                        //<li>@Html.ActionLink("Manage Practioners", "Index", "Practioner")</li>

                    }


                </ul>
            </li>
        </ul>
    </div>
}
                <div >
@if (ViewContext.HttpContext.User.IsInRole("CanManageUsers") || ViewContext.HttpContext.User.IsInRole("CanEdit"))
{
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>


                    </ul>
}
                </div>





                    @Html.Partial("_LoginPartial")
                </div>
        </div>
    </div>

}

    <div class="container body-content">
        @RenderBody()
        <br />
        <hr />
        <footer>
            <br /><br /><br />
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <font color="lightgreen">
                        <p>&copy; 2017 - @DateTime.Now.Year BA Natural</p>
                    </font>
  
                </div>
                <div  class="col-sm-2 col-md-2 col-lg-2">
                    <font color="lightgreen">
                        Version: 1.320
                    </font>
                </div>
            </div>
  
            <div class="col-sm-12 col-md-12 col-lg-12">
                
            </div>


        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>

<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/SessionUpdater.js"></script>

<!--4-->
<script type="text/javascript">
    // initialize Session Updater on page
    SetupSessionUpdater('/Home/KeepSessionAlive');
    SessionUpdater.Setup('@Url.Action("KeepSessionAlive","Home")');
</script>

<script type="text/javascript">

    function keepAliveFunc() {
        setTimeout("keepAlive()", 10000);
    };

    function keepAlive() {
        $.post("/Home/KeepAlive", null, function () { keepAliveFunc(); });
    };

    $(keepAliveFunc());
</script>
